:root{

    --light-red: #FF616A;
    --deep-red: #E6003D;
    --black: #231F20;
    --white: #FFFFFF;
    --off-white: #f6f6f6;
}

button {
    height: auto;
    width: auto;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
}

/*button.current {*/
/*    box-shadow: 0 0 0 2px white,*/
/*    0 0 0 4px black;*/
/*}*/

html{
    background-color: var(--off-white);
}

.btn{
    text-align: center;
    color: black;
    padding: 2%;
    background-color: #FF616A;

}
.btn:hover{
    background-color: #E6003D;
}

.unit_buttons{
    border-radius: 20%;
    text-align: center;
}

.checkbox{
    background-color :var(--off-white);
    color: var(--black);
    text-align: center;
    padding: 1%;
}

/*.exit_button{*/
/*    border-radius: 5%;*/

/*}*/

.advance_buttons{
    border-radius: 1%;
    width: 100%;
    height: 50%;
    /*color: var(--light-red);*/
    color: var(--black);
    text-align: center;

}